{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reservation.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ reservation.Prenom }}</td>
            </tr>
            <tr>
                <th>DepartureDateTime</th>
                <td>{{ reservation.departureDateTime ? reservation.departureDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DepartureCity</th>
                <td>{{ reservation.departureCity }}</td>
            </tr>
            <tr>
                <th>ArrivalCity</th>
                <td>{{ reservation.arrivalCity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
