{% extends 'base.html.twig' %}

{% block title %}TicketType index{% endblock %}

{% block body %}
    <h1>TicketType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Service</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket_type in ticket_types %}
            <tr>
                <td>{{ ticket_type.id }}</td>
                <td>{{ ticket_type.Name }}</td>
                <td>{{ ticket_type.service }}</td>
                <td>
                    <a href="{{ path('app_ticket_type_show', {'id': ticket_type.id}) }}">show</a>
                    <a href="{{ path('app_ticket_type_edit', {'id': ticket_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ticket_type_new') }}">Create new</a>
{% endblock %}
